<div class="container">
  <div class="game-board">

    <!-- Role Card -->
    <div class="card-container" (click)="showWord = !showWord">
      <div class="card" [class.flipped]="showWord">
        <div class="card-front">
          <h2>TOCA PARA REVELAR ROL</h2>
        </div>
        <div class="card-back" [class.impostor]="gameState.isImpostor()">
          @if (gameState.isImpostor()) {
            <h2>IMPOSTOR</h2>
          } @else {
            <div>
              <p>La palabra es:</p>
              <h1>{{ gameState.word() }}</h1>
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Turn Indicator -->
    <div class="turn-indicator">
      <p>El turno actual es de :</p>
      <h2 [class.my-turn]="isMyTurn()">{{ currentPlayerName() }}</h2>
      <p class="instruction">Di una palabra relacionada con la palabra secreta</p>
    </div>

    <!-- Actions -->
    <div class="actions">
      @if (isMyTurn()) {
        <button (click)="endTurn()" class="btn btn-primary pulse">Terminar Turno</button>
      }
      @if (gameState.isHost()) {
        <button (click)="resetGame()" class="btn btn-danger">Terminar Juego</button>
      }
    </div>

  </div>
</div>
